* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url("https://source.unsplash.com/1600x900/?landscape"); /*imagem de fundo*/
    background-size: cover;
    height: 100vh; /*altura*/
    width: 100vw; /*largura*/
    display: flex; /*sem colocar isso não daria para usar os aling-items e o justify-content*/
    align-items: center; /*alinhar*/
    justify-content: center; /*justificar*/
}

.caixa-maior {
    background-color: #000000; /*cor de fundo*/
    opacity: 0.8; /*opacidade*/
    width: 95%; /*largura*/
    max-width: 450px; /*largura maxima*/
    border-radius: 25px; /*arredondar bordas*/
    padding: 20px; /*distância os itens*/
}

.lupa {
    height: 25px;
    width: 20px;
}

button {
    border: none;
    padding: 10px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    border-radius: 50%;
    height: 40px; /*para deixar redondo quando está oval (deu certoo!!)*/
    float:right;
}

button:hover {
    background-color: #7c7c7c;
}

input {
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px;
    background-color: #7c7c7c2b;
    color: #ffffff;
    width: calc(100% - 100px);
    font-size: 24px;
}

.caixa-media {
    margin-top: 30px;
}

.cidade {
    color: #ffffff;
    font-size: 28px;
}

.temp {
    color: #ffffff;
    margin-top: 30px;
    font-size: 30px;
}

.umidade {
    color: #ffffff;
    margin-top: 30px;
}